# site redirection
RewriteEngine on

# always redirect charmedsatyr sites to https
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://charmedsatyr.com/$1 [R,L]

#redirect charmedsatyr.com to charmedsatyr.com/xy/
#RewriteCond %{HTTP_HOST} ^charmedsatyr\.com$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.charmedsatyr\.com$
#RewriteRule ^/?$ "https\:\/\/charmedsatyr\.com\/xy\/" [R=301,L]

#Error 404 page
ErrorDocument 404 https://charmedsatyr.com/error404.html

#Error 501 page
ErrorDocument 501 https://charmedsatyr.com/error501.html


RewriteOptions inherit

# disable directory browsing
Options ExecCGI Includes IncludesNOEXEC SymLinksIfOwnerMatch -Indexes
