//output:index.html
doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title &#9733;&#633;&#654;&#647;&#592;S p&#477;&#623;&#633;&#592;&#613;&#390;&#9733;
    link(rel='stylesheet', href='style/bootstrap.min.css')
    link(rel='stylesheet', href='style/font-awesome.min.css')
    link(rel='stylesheet', href='style/style.min.css')
  body
    noscript
      div#ns Please enable Javascript. This site will not function properly without it.
    script(type='text/javascript', src='js/queryloader2.min.js')
    div.container-fluid
      div.row
        div.main.well.col-xs-12.col-md-8.col-md-offset-2
          // title
          div.row
            img.satyr(src='resources/CharmedSatyr/Glowing-Black-Satyr.png', alt='CharmedSatyr logo')
            //Subtitles
            h4.subtitle.col-xs-12 libre. learning to code with&nbsp;
              a.fcc(href='https://freecodecamp.com/CharmedSatyr/' target='_blank' rel='noopener') freeCodeCamp
              span .
          br
          // Front End Projects for FCC
          // FCC Heading
          div.row(title='freeCodeCamp Front End Development Certification: acquired!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleFCC') Front End Development Projects
              i.fa.fa-free-code-camp
              p.description basic &#8594; intermediate &#8594; advanced
          // FCC Sites
          div.row.collapse#toggleFCC
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //0000-my-first-website
              a#fader(href='https://charmedsatyr.github.io/my_first_website/')
                div.thumbnail-container(title='My First Website')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/my_first_website/' frameborder='0' onload='this.style.opacity=1')
                p My First Website
              br
              //0001-personal-portfolio-webpage
              a#fader(href='https://charmedsatyr.github.io/personal_portfolio/')
                div.thumbnail-container(title='Sample Personal Portfolio')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/personal_portfolio/' frameborder='0' onload='this.style.opacity=1')
                p Sample Personal Portfolio
              br
              //0002-tribute-page
              a#fader(href='https://charmedsatyr.github.io/tribute_page/')
                div.thumbnail-container(title='A Tribute to Spaceman Spiff')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/tribute_page/' frameborder='0' onload='this.style.opacity=1')
                p A Tribute to Spaceman Spiff
              br
              //0003-random-quote-machine
              a#fader(href='https://charmedsatyr.github.io/random_quote_machine/')
                div.thumbnail-container(title='Random Quote Machine')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/random_quote_machine/' frameborder='0' onload='this.style.opacity=1')
                p Random Quote Machine
              br
              //0004-show-the-local-weather
              a#fader(href='https://charmedsatyr.github.io/local_weather_viewer/')
                div.thumbnail-container(title='View Your Local Weather')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/local_weather_viewer/' frameborder='0' onload='this.style.opacity=1')
                p View Your Local Weather
              br
              //0005-build-a-wikipedia-viewer
              a#fader(href='https://charmedsatyr.github.io/wikipedia_viewer/')
                div.thumbnail-container(title='Wikipedia Viewer')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/wikipedia_viewer/' frameborder='0' onload='this.style.opacity=1')
                p Wikipedia Viewer
              br
              //0006-use-the-twitchtv-json-api
              a#fader(href='https://charmedsatyr.github.io/twitch_stream_tracker/')
                div.thumbnail-container(title='Twitch Stream Tracker')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/twitch_stream_tracker/' frameborder='0' onload='this.style.opacity=1')
                p Twitch Stream Tracker
              br
              //0008-build-a-javascript-calculator
              a#fader(href='https://charmedsatyr.github.io/javascript_calculator/')
                div.thumbnail-container(title='Javascript Calculator')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/javascript_calculator/' frameborder='0' onload='this.style.opacity=1')
                p Javascript Calculator
              br
              //0009-build-a-pomodoro-clock
              a#fader(href='https://charmedsatyr.github.io/pomodoro_clock/')
                div.thumbnail-container(title='Pomodoro Clock')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/pomodoro_clock/' frameborder='0' onload='this.style.opacity=1')
                p Pomodoro Clock
              br
              //0010-build-a-tic-tac-toe-game
              a#fader(href='https://charmedsatyr.github.io/tic_tac_toe/')
                div.thumbnail-container(title='Tic Tac Toe')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/tic_tac_toe/' frameborder='0' onload='this.style.opacity=1')
                p Tic Tac Toe
              br
              //0011-build-a-simon-game
              a#fader(href='https://charmedsatyr.github.io/simon_game/')
                div.thumbnail-container(title='Simon Game')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/simon_game/' frameborder='0' onload='this.style.opacity=1')
                p Simon Game
              br
              //Free Code Camp Front End Development Certificate
              a(href='https://www.freecodecamp.com/CharmedSatyr/front-end-certification' target='_blank' rel='noopener')
                p.cert Front End Development Certificate
          br
          // Data Visualization Projects for FCC
          // Data Visualization Heading
          div.row(title='check out my progress!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleData') Data Visualization Projects
              //IMG doesn't take text shadows
              //img(style='height: 50px' src='resources/CharmedSatyr/react.png')
              i.fa.fa-camera-retro
              p.description react &#8594; d3
          // Data Visualization Sites
          div.row.collapse#toggleData
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              //0012-markdown-previewer
              a#fader(href='https://charmedsatyr.github.io/markdown_previewer/')
                div.thumbnail-container(title='Markdown Previewer')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/markdown_previewer/' frameborder='0' onload='this.style.opacity=1')
                p Markdown Previewer
              br
              //0013-camper-leaderboard
              a#fader(href='https://charmedsatyr.github.io/camper_leaderboard/' )
                div.thumbnail-container(title='Camper Leaderboard')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/camper_leaderboard/' frameborder='0' onload='this.style.opacity=1')
                p Camper Leaderboard
              br
              //0014-recipe-box
              a#fader(href='https://charmedsatyr.github.io/recipe_box/')
                div.thumbnail-container(title='Recipe Box')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/recipe_box/' frameborder='0' onload='this.style.opacity=1')
                p Recipe Box
              //0015-game-of-life
              a#fader(href='https://charmedsatyr.github.io/game_of_life/')
                div.thumbnail-container(title='The Game of Life')
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/game_of_life/' frameborder='0' onload='this.style.opacity=1')
                p The Game of Life

          br
          // Back End Development Projects for FCC
          div.row(title='the full stack experience!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleBackEnd') Back End Development Projects
              i.fa.fa-server
              p.description node &#8594; express &#8594; mongodb
          // Back End Sites
          div.row.collapse#toggleBackEnd
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              //0015-timestamp_microservice
              a#fader(href='https://charmed-timestamper.herokuapp.com' )
                div.thumbnail-container(title='Timestamp Microservice')
                  div.thumbnail
                    iframe(src='https://charmed-timestamper.herokuapp.com' frameborder='0' onload='this.style.opacity=1')
                p Timestamp Microservice
              br
              a#fader(href='https://charmed-rhpm.herokuapp.com' )
                div.thumbnail-container(title='Request Header Parser Microservice')
                  div.thumbnail
                    iframe(src='https://charmed-rhpm.herokuapp.com' frameborder='0' onload='this.style.opacity=1')
                p Request Header Parser Microservice
              br
              a#fader(href='http://op.pe')
                div.thumbnail-container(title='URL Shortener Microservice')
                  div.thumbnail
                    iframe(src='https://charmed-urls.herokuapp.com' frameborder='0' onload='this.style.opacity=1')
                p URL Shortener Microservice
              br
              a#fader(href='https://charmed-isal.herokuapp.com' )
                div.thumbnail-container(title='Image Search Abstraction Layer')
                  div.thumbnail
                    iframe(src='https://charmed-isal.herokuapp.com' frameborder='0' onload='this.style.opacity=1')
                p Image Search Abstraction Layer
              br
              a#fader(href='https://charmed-metadata.herokuapp.com' )
                div.thumbnail-container(title='File Metadata Microservice')
                  div.thumbnail
                    iframe(src='https://charmed-metadata.herokuapp.com' frameborder='0' onload='this.style.opacity=1')
                p File Metadata Microservice
              br

          br
          // Other Projects
          // Other heading
          div.row(title='cordial, cooperative code cobbling')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleOther') Other Projects
              i.fa.fa-code
              p.description non-code camp projects i've worked on
              //Other Sites
          div.row.collapse#toggleOther
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              //0007-corrupting-caesar-s-cipher
              a#fader(href='https://charmedsatyr.github.io/corrupting_caesars_cipher/', )
                div.thumbnail-container(title="Corrupting Caesar's Cipher")
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/corrupting_caesars_cipher/' frameborder='0' onload='this.style.opacity=1')
                p Corrupting Caesar's Cipher
              br
              a#fader(href='https://busanmaps.herokuapp.com/', target='_blank' rel='noopener' )
                div.thumbnail-container(title='uMAPiT')
                  div.thumbnail
                    iframe(src='resources/uMAPiT/uMAPiT.html' frameborder='0' onload='this.style.opacity=1')
                p uMAPiT
          br
          // Donate
          // Donate heading
          div.row(title='cryptocurrency is convenient and neat!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleDonate') Donate
              i.fa.fa-btc
              p.description help me pay for equipment and training
          // Donate
          div.row.collapse#toggleDonate
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              a(href='bitcoin:18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw?message=CharmedSatyr.com%20Donate%20Button&time=1470445686')
                p
                  i.fa.fa-btc(aria-hidden='true').orange
                  span.orange  bitcoin link
              p Receiving Address:
                br
                code 18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw
          br
          // Contact
          // Contact heading
          div.row(title='have you tried pgp or protonmail?')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleContact') Contact
              i.fa.fa-send
              p.description get in touch securely
          // Contact sites
          div.row.collapse#toggleContact
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              a(href='publickey.email-at-charmedsatyr-dot-com.txt', target='_blank' rel='noopener' )
                p(title='send me an encrypted message')
                  i.fa.fa-lock(aria-hidden='true')
                  span  OpenPGP Public Key
              br
              form(method='post' action='contact.php')
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Name
                    span.error *
                  input#nameEntry.col-xs-4(type='text' name='nameEntry')
                div#nameError.error
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Email
                    span.error *
                  input#emailEntry.col-xs-4(type='text' name='emailEntry')
                div#emailError.error
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Website
                  input#websiteEntry.col-xs-4(type='text' name='websiteEntry')
                div#websiteError.error
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Subject
                    span.error *
                  input#subjectEntry.col-xs-4(type='text' name='subjectEntry')
                div#subjectError.error
                div.row
                  div.formEntry.col-xs-3 Message
                    span.error *
                  textarea#messageEntry.col-xs-4(type='text' name='messageEntry')
                div#messageError.error
                br
                div#submit.btn.btn-default(type='submit' value='Submit') Submit
                input#submitReal(type='submit' value='Real')
          //Social sites
          div.row
            div.social.col.xs-12.col-md-8.col-md-offset-2
              div.row
                div.col-xs-2.col-xs-offset-2
                  a(href='https://github.com/CharmedSatyr', target='_blank' rel='noopener'  title='Read my code on GitHub')
                    i.fa.fa-github(aria-hidden='false')
                div.col-xs-2
                  a(href='https://codepen.io/CharmedSatyr/', target='_blank' rel='noopener'  title='Catch works in progress on CodePen')
                    i.fa.fa-codepen(aria-hidden='false')
                div.col-xs-2
                  a(href='https://www.twitter.com/CharmedSatyr', target='_blank' rel='noopener'  title='Tweet with me')
                    i.fa.fa-twitter(aria-hidden='false')
                div.col-xs-2
                  a(href='https://eff.org', target='_blank' rel='noopener' )
                    img(src='resources/CharmedSatyr/EFF-2017mb.png' title='Electronic Frontier Foundation Member' alt='EFF Digital Badge').eff

    script(type='text/javascript', src='js/jquery-3.1.0.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/index.js')
    script(type='text/javascript', src='js/contact.js')
    script(type='text/javascript', src='js/spin.min.js')
