//output:index.html
doctype html
html
    head
        meta(charset='UTF-8', meta name='viewport', content='width=device-width, initial-scale=1')
        title &#9733;&#633;&#654;&#647;&#592;S p&#477;&#623;&#633;&#592;&#613;&#390;&#9733;
        link(rel='stylesheet', href='style/bootstrap.min.css')
        link(rel='stylesheet', href='style/font-awesome.min.css')
        link(rel='stylesheet', href='style/style.min.css')
    body
        div.container-fluid
            div.row
                div.main.well.col-xs-12.col-md-8.col-md-offset-2
                    // title
                    div.row
                        img.satyr(src='resources/CharmedSatyr/sm-Satyr-Purple-to-Black.png', alt='CharmedSatyr logo')
                        h4.subtitle.col-xs-12 digital hedonist. learning to code.
                    br
                    // Front End Projects for FCC
                    // FCC Heading
                    div.row(title='check out my progress!')
                        div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleFCC') Front End Development Projects
                            i.fa.fa-free-code-camp
                            p.description basic &#8594; intermediate &#8594; advanced
                    // FCC Sites
                    div.row.collapse#toggleFCC
                        div.inner.well.col-xs-12.col-md-8.col-md-offset-2
                            br
                            //0000-my-first-website
                            a(href='sites/0000-my-first-website/index.html' target='_blank')
                                div.thumbnail-container(title='My First Website')
                                    div.thumbnail
                                        iframe(src='sites/0000-my-first-website/index.html' frameborder='0' onload='this.style.opacity=1')
                                p My First Website
                            br
                            //0001-personal-portfolio-webpage
                            a(href='sites/0001-personal-portfolio-webpage/index.html' target='_blank')
                                div.thumbnail-container(title='Sample Personal Portfolio')
                                    div.thumbnail
                                        iframe(src='resources/0001/Profile_Page.html' frameborder='0' onload='this.style.opacity=1')
                                p Sample Personal Portfolio
                            br
                            //0002-tribute-page
                            a(href='sites/0002-tribute-page/index.html', target='_blank')
                                div.thumbnail-container(title='A Tribute to Spaceman Spiff')
                                    div.thumbnail
                                        iframe(src='resources/0002/Tribute_Page.html' frameborder='0' onload='this.style.opacity=1')
                                p A Tribute to Spaceman Spiff
                            br
                            //0003-random-quote-machine
                            a(href='sites/0003-random-quote-machine/index.html', target='_blank')
                                div.thumbnail-container(title='Random Quote Machine')
                                    div.thumbnail
                                        iframe(src='resources/0003/Random_Quote_Machine.html' frameborder='0' onload='this.style.opacity=1')
                                p Random Quote Machine
                            br
                            //0004-show-the-local-weather
                            a(href='sites/0004-show-the-local-weather/index.html', target='_blank')
                                div.thumbnail-container(title='View Your Local Weather')
                                    div.thumbnail
                                        iframe(src='sites/0004-show-the-local-weather/index.html' frameborder='0' onload='this.style.opacity=1')
                                p View Your Local Weather
                            br
                            //0005-build-a-wikipedia-viewer
                            a(href='sites/0005-build-a-wikipedia-viewer/index.html', target='_blank')
                                div.thumbnail-container(title='Wikipedia Viewer')
                                    div.thumbnail
                                        iframe(src='sites/0005-build-a-wikipedia-viewer/index.html' frameborder='0' onload='this.style.opacity=1')
                                p Wikipedia Viewer
                            br
                            //0006-use-the-twitchtv-json-api
                            a(href='sites/0006-use-the-twitchtv-json-api/index.html' target='_blank')
                                div.thumbnail-container(title='Twitch Stream Tracker')
                                    div.thumbnail
                                        iframe(src='resources/0006/Twitch.html' frameborder='0' onload='this.style.opacity=1')
                                p Twitch Stream Tracker
                            br
                            //0008-build-a-javascript-calculator
                            a(href='sites/0008-build-a-javascript-calculator/index.html' target='_blank')
                                div.thumbnail-container(title='Javascript Calculator')
                                    div.thumbnail
                                        iframe(src='sites/0008-build-a-javascript-calculator/index.html' frameborder='0' onload='this.style.opacity=1')
                                p Javascript Calculator
                            br
                            //0009-build-a-pomodoro-clock
                            a(href='sites/0009-build-a-pomodoro-clock/index.html' target='_blank')
                                div.thumbnail-container(title='Pomodoro Clock')
                                    div.thumbnail
                                        iframe(src='resources/0009/Pomodoro.html' frameborder='0' onload='this.style.opacity=1')
                                p Pomodoro Clock
                            br
                            //0010-build-a-tic-tac-toe-game
                            a(href='sites/0010-build-a-tic-tac-toe-game/index.html' target='_blank')
                                div.thumbnail-container(title='Tic Tac Toe')
                                    div.thumbnail
                                        iframe(src='sites/0010-build-a-tic-tac-toe-game/index.html' frameborder='0' onload='this.style.opacity=1')
                                p Tic Tac Toe
                            br
                            //0011-build-a-simon-game
                            a(href='sites/0011-build-a-simon-game/index.html' target='_blank')
                                div.thumbnail-container(title='Simon Game')
                                    div.thumbnail
                                        iframe(src='sites/0011-build-a-simon-game/index.html' frameborder='0' onload='this.style.opacity=1')
                                p Simon Game
                            br
                            //Free Code Camp Front End Development Certificate
                            a(href='https://www.freecodecamp.com/charmedsatyr/front-end-certification' target='_blank')
                                p.cert Front End Development Certificate
                    br
                    // Data Visualization Projects for FCC
                    // Data Visualization Heading
                    div.row(title='check out my progress!')
                        div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleData') Data Visualization Projects
                            i.fa.fa-camera-retro
                            p.description react &#8594; data visualization
                    // Data Visualization Sites
                    div.row.collapse#toggleData
                        div.inner.well.col-xs-12.col-md-8.col-md-offset-2
                            p Coming soon!
                    br
                    // Other Projects
                    // Other heading
                    div.row(title='cordial, cooperative code cobbling')
                        div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleOther') Other Projects
                            i.fa.fa-code
                            p.description non-code camp projects i've worked on
                            //Other Sites
                    div.row.collapse#toggleOther
                        div.inner.well.col-xs-12.col-md-8.col-md-offset-2
                            //0007-corrupting-caesar-s-cipher
                            a(href='sites/0007-corrupting-caesar-s-cipher/index.html', target='_blank')
                                div.thumbnail-container(title="Corrupting Caesar's Cipher")
                                    div.thumbnail
                                        iframe(src='sites/0007-corrupting-caesar-s-cipher/index.html' frameborder='0' onload='this.style.opacity=1')
                                p Corrupting Caesar's Cipher
                            br
                            a(href='https://busanmaps.herokuapp.com/', target='_blank')
                                div.thumbnail-container(title='uMAPiT')
                                    div.thumbnail
                                        iframe(src='resources/uMAPiT/uMAPiT.html' frameborder='0' onload='this.style.opacity=1')
                                p uMAPiT
                    br
                    // Donate
                    // Donate heading
                    div.row(title='my contributors are some of the best people on the planet.')
                        div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleDonate') Donate
                            i.fa.fa-btc
                            p.description help me pay for equipment and training
                    // Donate
                    div.row.collapse#toggleDonate
                        div.inner.well.col-xs-12.col-md-8.col-md-offset-2
                            a(href='bitcoin:18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw?message=CharmedSatyr.com%20Donate%20Button&time=1470445686')
                                p
                                    i.fa.fa-btc(aria-hidden='true').orange
                                    span.orange  bitcoin link
                            p Receiving Address: 18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw
                    br
                    //Social
                    //Social heading
                    div.row(title='see what else i\'m up to, and say hello')
                        div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleSocial') Find me on other sites
                            i.fa.fa-retweet
                            p.description coding + social
                    //Social sites
                    div.row.collapse#toggleSocial
                        div.inner.well.col.xs-12.col-md-8.col-md-offset-2
                            div.row
                                div.col-xs-4
                                    a(href='https://github.com/CharmedSatyr', target='_blank')
                                        i.fa.fa-github(aria-hidden='true')
                                        span  GitHub
                                div.col-xs-4
                                    a(href='https://codepen.io/CharmedSatyr/', target='_blank')
                                        i.fa.fa-codepen(aria-hidden='true')
                                        span  CodePen
                                div.col-xs-4
                                    a(href='https://www.twitter.com/CharmedSatyr', target='_blank')
                                        i.fa.fa-twitter(aria-hidden='true')
                                        span  Twitter
                    br
                    // Contact
                    // Contact heading
                    div.row(title='this pgp is easy protonmail')
                        div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleContact') Contact
                            i.fa.fa-send-o
                            p.description send me a message
                    // Contact sites
                    div.row.collapse#toggleContact
                        div.inner.well.col-xs-12.col-md-8.col-md-offset-2
                            a(href='publickey.email-at-charmedsatyr-dot-com.txt', target='_blank')
                                p(title='send me an encrypted message')
                                    i.fa.fa-lock(aria-hidden='true')
                                    span  OpenPGP Public Key
                            p A contact form is in the works! Reach me via PGP or social media.
                            //iframe(src='contact/contact.html')
        script(type='text/javascript', src='js/jquery-3.1.0.min.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
