/* Fonts, variables, & tiny font tweaks */
//Fonts
@font-face {
  font-family: 'Montserrat Subrayada';
  src: url('../fonts/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
}

//Variables
$alt: 'Montserrat Alternates', sans-serif;
$sub: 'Montserrat Subrayada',sans-serif;

//Tweaks
.fa {
  font-size: 120%;
  margin-left: 1%;
}

.orange {
  color: rgba(255, 148, 23, 1.0);
}

.cert {
  font-size: 130%;
}

/* Colors */
$black-color: #202020;
$gold-color: #ffd338 !important;
$gray-color: #a0a0a0;
$trans-purple-color: #a757f2;
$trans-purple-color: rgba(40,31,220,0.4);
$purple: rgba(40,31,220,0.5);
$white-color: #ffffff;

/* Mixins not used for media queries */
@mixin mfonts($mcolor: $white-color, $mfont: $alt, $msize: 100%, $outline: 0 0 0 $black-color) {
    color: $mcolor;
    font: {
      family: $mfont;
      size: $msize;
    }
    text: {
      decoration: none;
      shadow: $outline;
    }
}

@mixin emph {
  color: $gold-color;
  text: {
    decoration: none;
    shadow: 1px 1px 1.5px $black-color, -1px -1px 1.5px $black-color, 1px -1px 1.5px $black-color, -1px 1px 1.5px $black-color;
  }

}

/*Test*/
#fader {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

/*Animation*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Styles */
body {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: $gray-color url('../resources/CharmedSatyr/R-DSC_0232.JPG') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.satyr {
  height: 120px;
  margin-top: 1%;
  width: auto;
}

.subtitle {
  @include emph;
}

.main {
  @include mfonts($white-color,$alt,100%);
  background-color: $gray-color;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 3%;
  margin-top: 3%;
  min-height: 80%; // Fallback for vh unit
  min-height: 80vh;
  padding-bottom: 5%;
  text-align: center;
  code {
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
  }
}

.headings {
  @include mfonts($white-color,$sub,100%,(1px 1px 2px $black-color, -1px -1px 2px $black-color));
  background: $trans-purple-color;
  border-color: $gray-color;
  &:hover,
  &:active,
  &:target {
    background: $purple !important;
    border-color: $gray-color !important;
  }
  &:hover {
    @include emph;
  }
  .description {
    @include mfonts($gray-color, $alt, 80%, 1px 1px 2px $black-color);
  }
}

.inner {
  @include mfonts($black-color, $alt, 110%);
  background: rgba(255, 255, 255, 0.5) url('../resources/CharmedSatyr/handmadepaper.jpg') repeat;
  border-radius: 1px;
  margin-top: -1%;
  a {
    color: $black-color;
    &:hover {
      @include emph;
    }
  }
  p {
    margin: 0.5% 0 2% 0;
  }

  /* Thumbnail styling from https://medium.com/@jamesfuthey/simulating-the-creation-of-website-thumbnail-screenshots-using-iframes-7145269891db#.ux1117uec */
  .thumbnail {
    iframe {
      -moz-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      height: 900px;
      opacity: 0;
      position: relative;
      transform-origin: 0 0;
      transition: all 300ms ease-in-out;
      width: 1440px;
    }
    &::after {
      bottom: 0;
      content: ''; //This line prevents interaction
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .thumbnail-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
  }
}

.social, .social a {
  color: #000000;
  font-size: 160%;
  margin-top: 2%;
  margin-bottom: -6%;
  text-shadow: 0 0 1.5px $gold-color;
}

.social a:hover {
    color: $gold-color;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important; //This doesn't work when it's nested inside .social
}

/* Mixins used for media queries */
@mixin transform-iframe($size) {
  .thumbnail iframe {
    -ms-zoom: $size;
    -moz-transform: scale($size);
    -o-transform: scale($size);
    -webkit-transform: scale($size);
    transform: $size;
  }
  .thumbnail-container {
    height: 900px * $size; //No need for "calc"
    width: 1440px * $size; //No need for "calc"
  }
}

@mixin heading-size($f-size) {
  .headings,
  .headings a,
  .headings a:hover,
  .headings a:visited {
    font-size: $f-size;
  }
}

/* Media queries for the website thumbnails */
@media screen and (max-width: 420px) {
  @include heading-size(100%);
  @include transform-iframe(0.15);
  .satyr {
    height: 80px;
  }
}

@media screen and (min-width: 421px) {
  @include heading-size(100%);
  @include transform-iframe(0.21);
  .satyr {
    height: 90px;
  }
}

@media screen and (min-width: 560px) {
  @include heading-size(120%);
  @include transform-iframe(0.26);
  .satyr {
    height: 110px;
  }
}

@media screen and (min-width: 1200px) {
  @include transform-iframe(0.31);
  .satyr {
    height: 120px;
  }
}

@media screen and (min-width: 1440px) {
  @include transform-iframe(0.36);
}

@media screen and (min-width: 1680px) {
  @include transform-iframe(0.41);
}

@media screen and (min-width: 1920px) {
  @include transform-iframe(0.50);
}
