// Donate heading
div.row(title='cryptocurrency is convenient and neat!')
  div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleDonate') Donate
    i.fa.fa-btc
    p.description help me pay for equipment and training
// Donate
div.row.collapse#toggleDonate
  div.inner.well.col-xs-12.col-md-8.col-md-offset-2
    a(href='bitcoin:18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw?message=CharmedSatyr.com%20Donate%20Button&time=1470445686')
      p
        i.fa.fa-btc(aria-hidden='true').orange
        span.orange  bitcoin link
    p Bitcoin Receiving Address:
      br
      code 18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw
    br
    p Zcash Receiving Address:
      br
      code t1cXgQZkJYXxT1nAzCHKHFpQtpHCh2m3cet
br
