meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
title &#9733;&#633;&#654;&#647;&#592;S p&#477;&#623;&#633;&#592;&#613;&#390;&#9733;
link(rel='stylesheet', href='style/bootstrap.min.css')
link(rel='stylesheet', href='style/font-awesome.min.css')
link(rel='stylesheet', href='style/style.min.css')
