// title
div.row
  img.satyr(src='resources/CharmedSatyr/Glowing-Black-Satyr.png', alt='CharmedSatyr logo')
  //Subtitles
  h4.subtitle.col-xs-12 libre. learning to code with&nbsp;
    a.fcc(href='https://freecodecamp.com/CharmedSatyr/' target='_blank' rel='noopener') freeCodeCamp
    span .
br
