div.row.social
  //- GitHub
  div.col-xs-2
    a(href='https://github.com/CharmedSatyr-freeCodeCamp', target='_blank' rel='noopener noreferrer'  title='See my freeCodeCamp projects on GitHub')
      i.fa.fa-github(aria-hidden='false')
  //- CodePen
  div.col-xs-2
    a(href='https://codepen.io/CharmedSatyr/', target='_blank' rel='noopener noreferrer'  title='Catch works in progress on CodePen')
      i.fa.fa-codepen(aria-hidden='false')
  //- Twitter
  div.col-xs-2
    a(href='https://www.twitter.com/CharmedSatyr', target='_blank' rel='noopener noreferrer'  title='Tweet with me')
      i.fa.fa-twitter(aria-hidden='false')
  //- Keybase
  div.col-xs-2
    a(href='https://www.keybase.io/CharmedSatyr', target='_blank' rel='noopener noreferrer'  title='See my Keybase proofs')
      i.fa.fab.fa-keybase(aria-hidden='false')
  //- EFF
  div.col-xs-2
    a(href='https://eff.org', target='_blank' rel='noopener noreferrer' )
      img(src='resources/CharmedSatyr/EFF-2017mb.png' title='Electronic Frontier Foundation Member' alt='EFF Digital Badge').eff
  //- FSF
  div.col-xs-2
    a(href='https://fsf.org', target='_blank' rel='noopener noreferrer' )
      img(src='resources/CharmedSatyr/FSF-Member.png' title='Free Software Foundation Member' alt='FSF Digital Badge').fsf
