@font-face {
  font-family: 'Sigmar One';
  src: url('../fonts/Sigmar_One/SigmarOne.ttf');
}

@font-face {
  font-family: 'Arimo';
  font-weight: bold;
  src: url('../fonts/Arimo/Arimo-Regular.ttf');
}

body {
  background: #07ffea;
  background: url(../../../resources/0008/congruent_pentagon.png);
  margin: 8%;
  text-align: center;
}

.title {
  color: black;
  font-family: 'Sigmar One', cursive;
}

.display {
  background: #FFFFFF;
  border: 6px solid #000000;
  border-radius: 0;
  color: #000000;
  font-family: 'Arimo', sans-serif;
}

.btn {
  background: #000000;
  border: 2px solid #000000;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 110%;
  padding: 2%;
}

.btn:hover {
  background: #ff4b3a;
  border: 2px solid #FFFFFF;
  color: #000000;
}

.panel {
  border: 6px solid #000000;
  border-radius: 0;
  font-family: 'Arimo', sans-serif;
}

.calc {
  background: #ebfdd4;
  color: #000000;
}

.equals {
  background: #b1f6cb;
  color: #000000;
}

.other {
  background: #dddddd;
  color: #000000;
}

.connector {
  background: transparent;
  background: url(../../../resources/0008/Connector.png);
  background-position: 79% 10%;
  background-repeat: no-repeat;
  background-size: 9%;
}
