/*ISSUE TRACKER in JS Comments*/

body {
  background: black;
  background: url(https://www.charmedsatyr.com/xy/resources/0007/dark_geometric.png);
  color: black;
  font-family: sans-serif;
  margin: 5% 10% 5% 10%;
}

.main {
  background: white;
  background: url(https://www.charmedsatyr.com/xy/resources/0007/handmadepaper.png);
  text-align: center;
}

h1 {
  color: limegreen;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px 1px 0 black, -1px -1px 0 black;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 130%;
  margin: 0 5% 0 5%;
  text-shadow: 0.25px 0.25px limegreen, -0.25px -0.25px limegreen;
}

a,
a:hover,
a:visited {
  color: black;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.newP {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  color: limegreen;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 0 1px black, -1px 0 1px black, 0 1px 1px black, 0 -1px 1px black;
}

.ink {
  background: white;
  background: url(https://www.charmedsatyr.com/xy/resources/0007/black_ink.png);
  background-position: 70% 10%;
  background-repeat: no-repeat;
  background-size: 10%;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

li {
  margin-left: 5%;
  margin-right: 15%;
  text-align: justify;
}

.Demo:hover {
  text-decoration: none;
}

input {
  border-radius: 6px;
  height: 35px;
  padding-left: 5px;
  position: relative;
  top: 1px;
  width: 50%;
}

.gen {
  left: 50%;
  margin-right: -50%;
  margin-top: 10px;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
}

.newP {
  margin-left: 6%;
  margin-right: 6%;
  text-align: center;
}