@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.ttf');
}

html, body {
  background: rgba(100, 65, 165, 1);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  font-weight: 400;
  margin: 2% 12% 2% 12%;
  text-align: center;
}

a, a:hover, a:active {
  color: black;
  text-decoration: none;
  font-size: 100%;
}

.div {
  margin: 5%;
}

.headerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 280%;
  font-weight: 700;
}

.viewer {
  background: rgba(0, 0, 0, 0.5);
}

img {
  width: 5%;
}

.header {
  width: 30%;
  margin: 0% 0% 0% 0%;
}

.channel_online, .channel_offline, .channel_disabled {
  margin: 1% 0% 1% 0%;
  padding: 1% 1% 1% 1%;
}

.channel_online {
  background: lime;
  background: rgba(0, 255, 17, 1.0);
}

.channel_disabled {
  background: black;
  color: white;
}

.channel_offline {
  background: lightgray;
  background: rgba(100, 65, 165, 1);
}
