/* Fonts */
$fa-font-path: '../fonts';
$fa-font-display: auto !default;

$alt: 'Montserrat Alternates', sans-serif;
$sub: 'Montserrat Subrayada', sans-serif;

/* Colors */
$black-color: #202020;
$gold-color: #ffd338;
$gray-color: #a0a0a0;
$trans-purple-color: #a757f2;
$trans-purple-color: rgba(40,31,220,0.4);
$purple: rgba(40,31,220,0.5);
$white-color: #ffffff;
