//output:index.html
doctype html
html
    head
        meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1')
        title Simon Game
        link(rel='stylesheet', href='sass/style.min.css')
        link(rel='stylesheet prefetch' href='https://static.CharmedSatyr.com/overlay/overlay.min.css')

    body
        noscript
            div#ns Please enable Javascript. This site will not function properly without it.
        div#s-g-t-logo-container
            a(href='https://CharmedSatyr.com')
                div(title='Go to CharmedSatyr.com' alt='CharmedSatyr logo').s-logo
            a(href='https://github.com/CharmedSatyr/simon_game' target='_blank')
                div(title='See this project on GitHub' alt='GitHub logo').g-logo
            a(href='https://twitter.com/CharmedSatyr' target='_blank')
                div(title='Tweet me @CharmedSatyr' alt='Twitter logo').t-logo
                //End CharmedSatyr Overlay
        div.lighting
            div.outerCircle
                div#tl.quarter.tl
                div#tr.quarter.tr
                div#bl.quarter.bl
                div#br.quarter.br
            div.innerCircle
                div.name Simon
                div#start.start
                    span.label Start
                div#strict.strict
                    span.label Strict
                div#strictLight.strictLight
                div.display
                    span#display
                div.powerStrip
                    span ON
                    div#power.power
                        div#powerSlider.powerSlider
                    span OFF
            div.vertical-border
            div.horizontal-border
        script(src='js/jquery-3.1.1.min.js')
        script(src='js/index.min.js')
