@media screen and (min-height: 1280px) {
  body {
    margin-top: 18%;
  }
}

@media screen and (min-height: 1024px) and (max-height: 1279px) {
  body {
    margin-top: 13%;
  }
}

@media screen and (max-height: 1023px) {
  body {
    margin-top: 9%;
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-M.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: bold;
  src: url('../font/Ubuntu-B.ttf');
}

body {
  background: pink;
  background:  radial-gradient(circle, rgba(255, 255, 255, 0.1), darken(rgba(0, 0, 0, 0.2), 4%));
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 180%;
  font-weight: normal;
  margin: 5% 0 0 0;
  text-align: center;
}

.text {
  margin-bottom: 2%;
}

.btn, .btn:hover, .btn:active {
  background: rgba(255, 255, 255, 0.0) !important;
  color: #000000;
  font-size: 200%;
  font-weight: bold;
  padding: 0 2% 0 2%;
  position: relative;
  bottom: 11px;
}

.title {
  font-size: 180%;
}

.location {
  font-size: 130%;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px #000000, 0 -1px #000000, -1px 0 #000000;

  #accuracy {
    bottom: -1%;
    font-size: 50%;
    padding: 2px;
    text-shadow: none;
  }
}
.well {
  padding: 20px 20px 0 20px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 10px;
}

.weather {
  padding: 2% 0 0 0;
}

.temp {
  font-size: 300%;
  font-weight: bold;
}

.wi, .wi-wind {
  font-size: 150%;
  position: relative;
  bottom: -0.1em;
}

.r {
  text-align: right;
}

.l {
  text-align: left;
  font-weight: bold;
}

.poweredby {
  height: 40px;
  margin-bottom: 1%;
}


/*This class hides the element and is toggled with jQuery*/

.goAway {
  display: none;
}

@media screen and (max-width: 720px) {
  #accuracy {
    left: -35%;
  }
}
