/* ISSUE TRACKER in JS Panel */

body {
  text-align: center;
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

a,
a:hover,
a:visited {
  text-shadow: 0.25px 0.25px black, -0.25px -0.25px black;
  text-decoration: none;
}

.btn,
.btn:hover,
.btn:visited {
  border-color: black;
  bottom: 1px;
  color: white;
  text-shadow: 0.7px 0.7px black;
  position: relative;
  text-decoration: none;
}

.well {
  margin: 0 5% 0.5% 7%;
  padding: 1%;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1.5px;
  border-style: solid;
}

.main {
  margin: 2%;
}

input {
  width: 50%;
  height: 35px;
  padding-left: 30px;
  border-radius: 6px;
}

.img-responsive {
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.globe {
  top: 30px;
}

.glyphicon {
  position: relative;
  left: 25px;
  top: 2px;
}