@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans.ttf');
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  src: url('../fonts/DroidSans-Bold.ttf');
}

body {
  color: black;
  background: #f5f5f5;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
}

a, a:hover, a:visited {
  text-shadow: 0.25px 0.25px black, -0.25px -0.25px black;
  text-decoration: none;
}

.btn, .btn:hover, .btn:visited {
  border-color: black;
  bottom: 1px;
  color: white;
  text-shadow: 0.7px 0.7px black;
  position: relative;
  text-decoration: none;
}

.well {
  margin: 0 5% 0.5% 7%;
  padding: 1%;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1.5px;
  border-style: solid;
}

.main {
  margin: 2%;
}

input {
  width: 50%;
  height: 35px;
  padding-left: 30px;
  border-radius: 6px;
}

.img-responsive {
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.globe {
  top: 30px;
}

.glyphicon {
  position: relative;
  left: 25px;
  top: 2px;
}
